@import './normalize.css';

@font-face {
  font-family: poppinsRegular;
  src: url(./assets/fonts/Poppins-Regular.ttf);
}

@font-face {
  font-family: poppinsBold;
  src: url(./assets/fonts/Poppins-Bold.ttf);
}

$regularFont: poppinsRegular, Sans-Serif;
$boldFont: poppinsBold, Sans-Serif;

$strongShadow: 0 1px 1px rgba(0, 0, 0, 0.11), 0 2px 2px rgba(0, 0, 0, 0.11),
  0 4px 4px rgba(0, 0, 0, 0.11), 0 8px 8px rgba(0, 0, 0, 0.11),
  0 16px 16px rgba(0, 0, 0, 0.11), 0 32px 32px rgba(0, 0, 0, 0.11);

$darkBlueGray: #1a202c;
$deepOrange: #f57c00;
$brightYellow: #ffeb3b;

$break-medium: 900px;

//Initial setup
//_____________________________

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  font-size: 16px;
  margin: 0;
  padding: 0;
  background-color: $darkBlueGray;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}

#root {
  height: 100%;
}

h1,
h2,
h3 {
  font-family: $boldFont;
  font-weight: 400;
  line-height: 1.61803398875;
  color: rgba(255, 255, 255, 0.9);
  margin: 0;
}

p {
  font-family: $regularFont;
  line-height: 1.61803398875;
  font-size: 1rem;
  color: rgba(255, 255, 255, 0.9);
}

h1 {
  font-size: 3rem;
}

h2 {
  font-size: 2rem;
}

h3 {
  font-size: 1.5rem;
}

@media only screen and (max-width: $break-medium) {
  h1 {
    font-size: 2rem;
  }

  h2 {
    font-size: 1.5rem;
  }

  h3 {
    font-size: 1.2rem;
  }
}

//Helpers
//_____________________________

.accent {
  color: $deepOrange;
}

.center {
  text-align: center;
}

//buttons
//_____________________________

.btn-small {
  background: transparent;
  font-family: $regularFont;
  outline: none;
  border: none;
  cursor: pointer;
  font-size: 1rem;
  color: rgba(255, 255, 255, 0.8);
  border: 1px solid rgba(255, 255, 255, 0.8);
  padding: 4px 8px;

  &:active {
    color: rgba(255, 255, 255, 1);
    border-color: rgba(255, 255, 255, 1);
  }

  @media (hover: hover) {
    &:hover {
      transition: all 200ms ease;
      color: rgba(255, 255, 255, 1);
      border-color: rgba(255, 255, 255, 1);
    }
  }
}

.btn-regular {
  background: #3182ce;
  font-family: $boldFont;
  outline: none;
  border: none;
  cursor: pointer;
  font-size: 1.5rem;
  color: rgba(255, 255, 255, 0.9);
  padding: 1rem 2rem;

  &.pink {
    background: #c2185b;

    @media (hover: hover) {
      &:hover {
        background: #ad1457;
      }
    }
  }

  @media (hover: hover) {
    &:hover {
      transition: all 300ms ease;
      background: #2b6cb0;
      box-shadow: $strongShadow;
    }
  }
}

//Question
//_____________________________

.game-container {
  display: flex;
  justify-content: center;
  align-items: center;
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 24px;
  width: 100%;
  height: 100%;

  .city-card {
    cursor: pointer;
    height: 400px;

    &:active {
      &:after {
        opacity: 0.3;
      }
    }

    @media (hover: hover) {
      &:hover {
        transition: all 300ms ease;
        box-shadow: $strongShadow;

        &:after {
          transition: all 300ms ease;
          opacity: 0.3;
        }

        @media only screen and (min-width: $break-medium) {
          transform: translateY(-4px);
        }
      }
    }
  }

  @media only screen and (max-width: $break-medium) {
    flex-direction: column;
    justify-content: center;
    padding: 0;

    .city-card {
      height: 50%;
      max-width: 100%;
    }

    .divider {
      position: absolute;
      left: 50%;
      margin-left: -64px;
      top: 50%;
      margin-top: -32px;
      z-index: 1;
      background-color: rgba(0, 0, 0, 0.5);
    }
  }
}

.city-card {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  padding: 16px;

  &:after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    background-color: #000;
    opacity: 0.6;
  }

  & * {
    z-index: 1;
  }

  h3,
  h2 {
    text-transform: uppercase;
    text-align: center;
  }

  h3 {
    color: rgba(255, 255, 255, 0.8);
  }
}

.temperature {
  color: $brightYellow;
  font-family: $regularFont;
  font-size: 1.2rem;
  margin-top: 16px;
}

.divider {
  height: 64px;
  min-width: 128px;
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: center;
}

//Menu
//_____________________________

.menu {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  display: flex;
  padding: 16px;
  z-index: 9999;
  align-items: center;

  .menu-content-right {
    margin-left: auto;
  }
}

//Lose
//_____________________________

.losing-screen {
  display: flex;
  height: 100%;
  align-items: center;
  flex-direction: column;
  justify-content: center;

  h2 {
    margin-bottom: 32px;
  }

  .btn-regular {
    &:not(:last-child) {
      margin-bottom: 16px;
    }
  }
}

//SplashScreen
//_____________________________

.splash-screen {
  display: flex;
  height: 100%;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 24px;
  width: 100%;

  h1 {
    text-align: center;
    margin-bottom: 32px;
  }
}

//History
//_____________________________

.history-container {
  max-width: 900px;
  margin: 0 auto;
  padding: 64px 24px;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  h2 {
    margin-bottom: 8px;
  }

  .btn-regular {
    margin-bottom: 24px;
  }
}

.history-cards-wrapper {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;

  &:not(:last-child) {
    margin-bottom: 32px;
    padding-bottom: 32px;
    border-bottom: 1px solid rgba(255, 255, 255, 0.1);
  }

  .city-card {
    height: 300px;
  }

  .divider {
    min-width: 80px;
  }

  @media only screen and (max-width: $break-medium) {
    flex-direction: column;
    justify-content: center;
    padding: 0;

    &:not(:last-child) {
      margin-bottom: 24px;
      padding: 0;
      border: none;
    }

    .city-card {
      max-width: 100%;
    }

    .divider {
      position: absolute;
      left: 50%;
      margin-left: -40px;
      top: 50%;
      margin-top: -32px;
      z-index: 1;
      background-color: rgba(0, 0, 0, 0.5);
    }
  }
}

//Loading

.loading-container {
  display: flex;
  height: 100%;
  align-items: center;
  flex-direction: column;
  justify-content: center;
}

.lds-ellipsis {
  display: inline-block;
  position: relative;
  width: 64px;
  height: 64px;
}
.lds-ellipsis div {
  position: absolute;
  top: 27px;
  width: 11px;
  height: 11px;
  border-radius: 50%;
  background: #fff;
  animation-timing-function: cubic-bezier(0, 1, 1, 0);
}
.lds-ellipsis div:nth-child(1) {
  left: 6px;
  animation: lds-ellipsis1 0.6s infinite;
}
.lds-ellipsis div:nth-child(2) {
  left: 6px;
  animation: lds-ellipsis2 0.6s infinite;
}
.lds-ellipsis div:nth-child(3) {
  left: 26px;
  animation: lds-ellipsis2 0.6s infinite;
}
.lds-ellipsis div:nth-child(4) {
  left: 45px;
  animation: lds-ellipsis3 0.6s infinite;
}
@keyframes lds-ellipsis1 {
  0% {
    transform: scale(0);
  }
  100% {
    transform: scale(1);
  }
}
@keyframes lds-ellipsis3 {
  0% {
    transform: scale(1);
  }
  100% {
    transform: scale(0);
  }
}
@keyframes lds-ellipsis2 {
  0% {
    transform: translate(0, 0);
  }
  100% {
    transform: translate(19px, 0);
  }
}
